global_defs {
   router_id uBACKUP
}

vrrp_instance VI_1 { 
state BACKUP 

    interface {{ keepalived_interface }}
    virtual_router_id {{ virtual_router_id }}
    priority 100
    advert_int 1
    garp_master_delay 5
    garp_master_refresh 60
    authentication {
        auth_type PASS
        auth_pass {{ keep_p.stdout }}
    }
    virtual_ipaddress {
     {{ virtual_ipaddress }}
    }
}
